/*main css*/
body{
    font-family: 'Charm';
    background: #ccc;
}
.font-ar{
    font-family: 'font-ar';
}
.font-en{
    font-family: 'Charm';
}
::placeholder{
    font-family: 'font-ar';
}
.b,.b *{
    font-weight: 800;
}
.line-height,.line-height *{
    line-height: 1.6em;
}

.fontColor{
    color: #af9a5f!important;
}

.transition{
    transition: all .3s ease-in-out;
}

/*end main*/
/*start header*/
header{
    height: 70px;
    width: 100vw;
    z-index: 13;
    background-color:  rgba(12,84,96,.9);
}
header button{
    border: none;
}
header button.navToggle{
    cursor: pointer;
    background: transparent;
}
@media (max-width:576px ) {
    header h1{
        font-size: 1.5rem!important;
    }
}
header button{
    font-weight: bolder!important;
}
/*end header*/
/*start overlay*/
div.overlay{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: -104%;
    background: rgba(0,0,0,.7);
    z-index: 10;
    transition: all .3s ease-in-out;
}
/*end overlay*/
/*start aside*/
aside {
    position: fixed;
    z-index: 11;
    left: -100%;
    top: 0;
    background: rgba(7, 50, 57, .8);
    padding-top: 75px;
    height: 100vh;
    max-width: 200px;
    transition: all .6s ease-in-out;
    overflow: auto;
}

aside span{
    color: #ccc;
    font-weight: bold;
}
aside .form-control{
    padding-top: 0;
    padding-bottom: 0;
}
aside a{
    color: white;
    text-decoration: none!important;
}
aside i{
    color: #169fb9;
}
aside a:hover{
    color: #0c5460;
}
/*end aside*/
/*start main*/
main{
    padding-top: 70px;
    background-image: url("../img/bg.jpg");
    background-size: 100% 100%;
    background-position: center;
    width: 100vw;
    height: 100vh;
}
main div{
    width: 100%;
    height: 100%;
}
/*start canvas*/
#myCanvas{
    border: 1px #3f3030 solid;
    box-shadow: 0px 0 7px black;
    border-radius: 8px;
    background-image:url('../img/bg2.jpg');
    background-size: 100% 100%;
    cursor:move;
}

